<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--<add name="SQLConnection" connectionString="Server=localhost;Database=Noble;Trusted_Connection=Yes;"/>-->
    <add name="SQLConnection" connectionString="Server=localhost;Database=NobleDec2;Trusted_Connection=Yes;Integrated Security=true;" />
    <!--<add name="SQLConnection" connectionString="Server=NobleRgn.db.10112271.hostedresource.com;Database=NobleRgn;User Id=NobleRgn;password=NobleRgn@2013"/>-->
  </connectionStrings>
  <appSettings>
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPusername" value="aabrmailtrial" />
    <add key="SMTPpassword" value="Mey@2013" />
    <add key="FromAddress" value="aabrmailtrial@gmail.com" />
    <add key="UploadFolderName" value="G:\FLWORK\Noble\Noble\FileUpload\UploadedUserFiles" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="aabrmailtrial@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="aabrmailtrial" password="Mey@2013" />
      </smtp>
    </mailSettings>

  </system.net>
  <system.web>
    <sessionState timeout="20"></sessionState>
    <compilation debug="true" targetFramework="4.0" />

    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>

    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" timeout="30" protection="All" name=".ASPXFORMSDEMO" />
    </authentication>

    <pages theme="AAC" enableEventValidation="false" viewStateEncryptionMode="Never"></pages>

    <authorization>
      <!--<deny users ="?" />-->
      <allow users="*" />
    </authorization>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
    </customErrors>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>

        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>

    </security>
    <handlers>

      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
    </handlers>
  </system.webServer>
</configuration>